#rt_ohlc_plot:-webkit-full-screen {
  height: 100%;
  margin: 0;
}
#rt_ohlc_plot:-ms-fullscreen {
  height: 100%;
}
#rt_ohlc_plot:fullscreen {
  height: 100%;
}

#map_plot_card:-webkit-full-screen {
  height: 100%;
  margin: 0;
}
#map_plot_card:-ms-fullscreen {
  height: 100%;
}
#map_plot_card:fullscreen {
  height: 100%;
}

